$grayColor: #eee;
$blackColor: #000;
* {
  box-sizing: border-box;
}
.main-area {
  width: 800px;
  height: 800px;
  margin: 20px;
  background-color: $grayColor;
  margin: 0 auto;
  .square,
  .food {
    height: 16px;
    width: 16px;
    float: left;
    position: relative;
  }
  .snake {
    background-color: $blackColor;
  }
  .square {
    border: 1px solid #eee;
  }
  #food-icon {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
